#wrapper_subscription_option_YYY {display: none;}
 .dont-remove {border-style: solid;border-width: 1px;border-color: #D6D6D6;}
.form-list td.label {display: block;width: 185px;padding-right: 15px;padding-top: 1px;}
.form-list {width: auto;}
.form-list td.value {width: 300px;padding-right: 5px !important;padding-bottom: 2px;}
.bordertable{padding-left: 35px;padding-top: 15px;padding-bottom: 20px;}
.apptha_subscription_div .editable_buttons{padding:5px;} 